.history-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-order {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-order-banner {
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.history-order-content {
    padding: 15px;
    width: 90%;
    min-height: 160px;
    max-height: 275px;
    border-radius: 0 0 12px 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.history-order-item {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
}

.history-order-item-img {
    width: 150px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.history-order-item-info {
    width: 500px;
    font-size: 20px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.history-order-item-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history-order-item-num {
    width: 120px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}