.categories-slider {
    width: 1260px;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scrollbar-color: rgba(0, 255, 255, 255);
}

.categories-slider::-webkit-scrollbar {
    display: none;
}

.category-card {
    margin: 0 15px;
    padding: 15px 15px;
    border-radius: 12px;
    display: flex;
    background-color: #CCD1D9;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.category-card:hover {
    background-color: #00AFC1;
    color: white;
}