.srch--title {
    font-size: 20px;
}

.srch--filter-container {
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.srch--loader-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-res-msg-box {
    height: 150px;
    font-family: 'Inter';
    font-size: 20px;
    color: #3e3232;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg-icon {
    font-size: 35px;
    margin-bottom: 15px;
}