.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 7.5px;
    width: 300px;
    height: 355px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.product-card-thumbnail {
    width: 280px;
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px;
}

.product-card-info {
    width: 280px;
    height: 170px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-title {
    font-size: 20px;
    font-weight: bold;
    width: 280px;
    height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card-para {
    width: 280px;
    height: 45px;
    font-size: 12px;
    color: #3e3232;
    opacity: 0.75;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card-price-row {
    display: flex;
    justify-content: end;
}

.product-card-price {
    font-size: 25px;
    font-weight: medium;
    background-color: #CCD1D9;
    padding: 5px;
    border-radius: 12px;
    color: black;
}

.product-card:hover .product-card-price {
    background-color: #00AFC1;
    color: white;
}

.product-card:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}