.admin-user-add {
    margin: 20px 0;
    display: flex;
}

.admin-user-add-form {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.admin-user-add-form-row {
    display: flex;
    justify-content: space-between;
}

.admin-user-add-form-row-item {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.admin-user-add-inp {
    background-color: white;
    padding: 0 15px;
    margin: 10px 0;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.admin-user-add-inp:focus {
    outline: none;
}

#admin-user-add-name-item {
    width: 60%;
}

.admin-user-add-btn {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-user-add-btn-icon {
    font-size: 30px;
    border: none;
    border-radius: 50%;
    background-color: #00afb9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.admin-user-add-btn-icon:hover {
    background-color: #00509d;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.admin-user {
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
}

.admin-user-card {
    margin: 10px 10px;
    padding: 20px;
    width: 230px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-user-card-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.admin-user-card-name {
    margin: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-user-card-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-color: #A25772;
    border-radius: 12px;
}

.admin-user-card-delete:hover {
    background-color: red;
    color: white;
}

#admin-user-card-delete-icon {
    margin: 0 5px;
}


.admin-user-card-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.admin-user-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 45%;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 12px;
}

.admin-user-card-btn-icon {
    margin: 0 5px;
}

#admin-user-card-update {
    color: black;
    background-color: #7C93C3;
}

#admin-user-card-update:hover {
    background-color: #068DA9;
    color: white;
}

#admin-user-card-delete {
    background-color: #A25772;
}

#admin-user-card-delete:hover {
    background-color: red;
    color: white;
}