.admin-user {
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
}

.admin-user-card {
    margin: 10px 10px;
    padding: 20px;
    width: 230px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-user-card-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.admin-user-card-name {
    margin: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-user-card-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-color: #A25772;
    border-radius: 12px;
}

.admin-user-card-delete:hover {
    background-color: red;
    color: white;
}

#admin-user-card-delete-icon {
    margin: 0 5px;
}


.admin-user-card-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.admin-user-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 45%;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 12px;
}

.admin-user-card-btn-icon {
    margin: 0 5px;
}

#admin-user-card-update {
    color: black;
    background-color: #7C93C3;
}

#admin-user-card-update:hover {
    background-color: #068DA9;
    color: white;
}

#admin-user-card-delete {
    background-color: #A25772;
}

#admin-user-card-delete:hover {
    background-color: red;
    color: white;
}